body {
    margin: 0;
    padding: 5px;
    background-color: #fff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting {
    flex-direction: column;
    padding-top: 10px;
}

#animoji {
    padding-left: 50px;
}

#react {
    max-width: 200px;
}

#bulma {
    max-width: 200px;
}

#bootstrap {
    max-width: 200px;
}

.lead {
    font-size: 1.2rem;
}

.some-margin {
    margin: 25px;
}